.div-form-body{
    margin: 10% 200px 5% 200px;
    text-align: center;
    background-color: #fafafa;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.div-form-body2{
    margin-top: 10px;
}